hr {
  color: #ccc;
  margin: .5rem 0 3rem 0;
}

table {
  width: 80%;
  border-collapse: collapse;
}

td {
  text-align: center;
}

td:first-child {
  text-align: left;
  padding-left: 1rem;
  border-radius: 10px 0 0 10px;
}

tr:not(.trTh):hover {
  cursor: pointer;
  background-color: #ededed;
}

td:last-child {
  border-radius: 0 10px 10px 0;
}

.tableA {
  height: 30px;
  line-height: 30px;
  padding: .8rem 0;
}