.wall {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  user-select: none;
  z-index: 1;
}

.ifrBox {
  width: 80%;
  height: 80%;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.ifrBox i {
  position: absolute;
  right: 15px;
  top: 15px;
  font-size: 22px;
  cursor: pointer;
}

.iframe {
  width: 100%;
  height: 100%;
}